* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

#root {
  padding: 24px;
}

input {
  padding: 0 16px;
  height: 40px;
  border: 1px solid #afafaf;
  box-shadow: none;
  border-radius: 3px;
  margin-bottom: 10px;
}
